.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 20%;
    border-radius: 50%;
  }
  h2, h3{
    padding: 1rem 0rem;
  }
}

@media screen and (max-width: 786px){
  .song-container{
    img{
      width: 60%;
    }
  }
}